In [24]:
import sqlite3
import pandas as pd

In [57]:
def initializeDB():
    links = {"Socio"  :"https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv",
             "Schools":"https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv",
             "Crime"  :"https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv"}

    # Creating the Dataframes
    sceDf  = pd.read_csv(links["Socio"])
    schlDf = pd.read_csv(links["Schools"])
    crmDf  = pd.read_csv(links["Crime"])
    
    # Creating SQL server
    conn = sqlite3.connect("chicagoData.sqlite")
    sceDf.to_sql ("CENSUS_DATA",  conn)
    schlDf.to_sql("CHICAGO_PUBLIC_SCHOOLS", conn)
    crmDf.to_sql ("CHICAGO_CRIME_DATA",  conn)

In [114]:
# Connect to the database

conn = sqlite3.connect('chicagoData.sqlite')
cur = conn.cursor()

In [59]:
# Problem 1: Find the total number of crimes recorded in the crime table.

cur.execute("SELECT count(*) "
            "FROM CHICAGO_CRIME_DATA")

result = cur.fetchall()
print("Count of Crime Table :", str(result[0][0]))

Count of Crime Table : 533

In [60]:
# Problem 2: Retrieve first 10 rows from the CRIME table.

cur.execute("SELECT * "
            "FROM CHICAGO_CRIME_DATA LIMIT 10")

result = cur.fetchall()
print("Head of Crime Table : ")

for i in result:
    print((list(i)))
    print("\n")

Head of Crime Table :
[0, 3512276, 'HK587712', '08/28/2004 05:50:56 PM', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, '02/10/2018 03:50:01 PM', 41.807440500000006, -87.70395585, '(41.8074405, -87.703955849)']


[1, 3406613, 'HK456306', '06/26/2004 12:40:00 PM', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, '02/28/2018 03:56:25 PM', 41.89827996, -87.71640551, '(41.898279962, -87.716405505)']


[2, 8002131, 'HT233595', '04/04/2011 05:45:00 AM', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 0, 0, 221, 2, 3.0, 38.0, '6', 1177436.0, 1876313.0, 2011, '02/10/2018 03:50:01 PM', 41.81593313, -87.62464213, '(41.815933131, -87.624642127)']


[3, 7903289, 'HT133522', '12/30/2010 04:30:00 PM', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 0, 0, 423, 4, 7.0, 46.0, '6', 1194622.0, 1850125.0, 2010, '02/10/2018 03:50:01 PM', 41.74366532, -87.56246276, '(41.743665322, -87.562462756)']


[4, 10402076, 'HZ138551', '02/02/2016 07:30:00 PM', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 0, 0, 831, 8, 15.0, 66.0, '6', 1155240.0, 1860661.0, 2016, '02/10/2018 03:50:01 PM', 41.773455299999995, -87.70648047, '(41.773455295, -87.706480471)']


[5, 7732712, 'HS540106', '09/29/2010 07:59:00 AM', '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 0, 0, 1323, 12, 27.0, 24.0, '6', 1171668.0, 1905607.0, 2010, '02/10/2018 03:50:01 PM', 41.89644677, -87.64493868, '(41.896446772, -87.644938678)']


[6, 10769475, 'HZ534771', '11/30/2016 01:15:00 AM', '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 1713, 17, 33.0, 14.0, '6', 1154133.0, 1933314.0, 2016, '02/10/2018 03:50:01 PM', 41.97284491, -87.70860008, '(41.972844913, -87.708600079)']


[7, 4494340, 'HL793243', '12/16/2005 04:45:00 PM', '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 1, 0, 213, 2, 3.0, 38.0, '6', 1180448.0, 1879234.0, 2005, '02/28/2018 03:56:25 PM', 41.82387989, -87.61350386, '(41.823879885, -87.613503857)']


[8, 3778925, 'HL149610', '01/28/2005 05:00:00 PM', '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 2211, 22, 19.0, 72.0, '6', 1160129.0, 1838040.0, 2005, '02/28/2018 03:56:25 PM', 41.71128051, -87.68917909999999, '(41.711280513, -87.689179097)']


[9, 3324217, 'HK361551', '05/13/2004 02:15:00 PM', '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 0, 0, 1733, 17, 35.0, 21.0, '6', 1153590.0, 1921084.0, 2004, '02/28/2018 03:56:25 PM', 41.93929582, -87.71092344, '(41.939295821, -87.710923442)']

In [61]:
# Problem 3: How many crimes involve an arrest.

cur.execute("SELECT * "
            "FROM CHICAGO_CRIME_DATA "
            "WHERE arrest is 1")

result = cur.fetchall()
print("Count of Amount of Arrest :", str(result[0][0]))

Count of Amount of Arrest : 7

In [62]:
# Problem 4: Which unique types of crimes (e.g. THEFT) have been recorded at a GAS STATION locations?

cur.execute("SELECT DISTINCT(PRIMARY_TYPE) "
            "FROM CHICAGO_CRIME_DATA "
            "Where LOCATION_DESCRIPTION is 'GAS STATION'")

result = cur.fetchall()
print("Types of Crimes at Gas Stations :")
for k in result:
    print("-",k[0])

Types of Crimes at Gas Stations :
- THEFT
- NARCOTICS
- ROBBERY
- CRIMINAL TRESPASS

In [80]:
# Problem 5: In the CENUS_DATA table list all community areas whose names start with the letter ‘B’.

cur.execute("SELECT COMMUNITY_AREA_NAME "
            "FROM CENSUS_DATA "
            "WHERE COMMUNITY_AREA_NAME LIKE 'B%' ")

result = cur.fetchall()
print("Communities whose names start with B")
for k in result:
    print("-",k[0])

Communities whose names start with B
- Belmont Cragin
- Burnside
- Brighton Park
- Bridgeport
- Beverly

In [105]:
# Problem 6: List the schools in community areas 10 to 15 that are healthy school certified.

cur.execute("SELECT name_of_school "
            "FROM CHICAGO_PUBLIC_SCHOOLS "
            "WHERE community_area_number BETWEEN 10 AND 15 AND healthy_school_certified IS 'Yes'")

result = cur.fetchall()
print(result[0][0])

Rufus M Hitch Elementary School

In [104]:
# Problem 7: What is the average school Safety Score?

cur.execute("SELECT avg(safety_score) "
            "FROM CHICAGO_PUBLIC_SCHOOLS")

result = cur.fetchall()
print(result[0][0])

49.50487329434698

In [102]:
# Problem 8: Find the top 5 Community Areas by average College Enrollment [number of students].

cur.execute("SELECT COMMUNITY_AREA_NAME "
            "FROM CHICAGO_PUBLIC_SCHOOLS "
            "ORDER BY college_enrollment DESC limit 5 ")

result = cur.fetchall()
for k in result:
    print("-",k[0])

- NORTH CENTER
- ARCHER HEIGHTS
- NORWOOD PARK
- BRIGHTON PARK
- IRVING PARK

In [106]:
# Problem 9: Use a sub-query to determine which Community Area has the least value for school Safety Score?

cur.execute("SELECT COMMUNITY_AREA_NAME "
            "FROM CHICAGO_PUBLIC_SCHOOLS "
            "ORDER BY safety_score limit 5 ")

result = cur.fetchall()
for k in result:
    print("-",k[0])

- KENWOOD
- CHATHAM
- MORGAN PARK
- CLEARING
- SOUTH LAWNDALE

In [161]:
# Problem 10: [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

cur.execute('''
        SELECT community_area_name, "per_capita_income " 
        FROM CENSUS_DATA 
        WHERE upper(community_area_name) IN 
            (SELECT "Community_Area_Name" 
             FROM CHICAGO_PUBLIC_SCHOOLS 
             WHERE "Safety_Score" = 1 )
        ''')

result = cur.fetchall()
print(result[0])

('Washington Park', 13785)